<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrieve password</title>
</head>
<body>
    <table>
        <tr>
            <td style="font-size:1.5rem;">Retrieve password for you</td>
        </tr>
        <tr>
            <td>
                your password is：
                <strong>[[${password}]]</strong>
            </td>
        </tr>
        <tr>
            <td>Please record your password to avoid losing it again.</td>
        </tr>
        <tr>
            <td>If you have not requested password retrieval, please ignore this email.</td>
        </tr>
    </table>
</body>
</html>
